* {
  /* border: 1px solid red; */
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
}
a:hover {
  opacity: 0.7;
}
body {
  background-color: #ededed;
}

.colour-purple {
  color: #9300ff;
}

.teachers {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teachers__tittle {
  font-size: 32px;
  margin-top: 300px;
  margin-bottom: 40px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
.teachers__card {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.teachers__photo {
  min-height: 477px;
  margin-right: 40px;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
  border-radius: 35px;
  background-color: white;
}
.teachers__description {
  max-width: 650px;
  min-height: 450px;
  background-color: white;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teachers__name {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  /* line-height: 34px; */
  text-align: center;
  color: #9300ff;
}
.teachers__name:first-child {
  margin-bottom: -15px;
  /* font-weight: 600; */
}
.teachers__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  width: 90%;
}
.teachers__paragraph {
  margin-bottom: 5px;
  list-style-type: disc;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.teachers__paragraph:last-child {
  margin: 0;
}
.courses {
  width: 65%;
  max-width: 1600px;
  margin: auto;
}
.courses__header {
  margin-top: 300px;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
.courses__description {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #2d2d2d40;
  opacity: 0.8;
}
.courses__container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.courses__item {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
  height: 325px;
  max-height: 70vh;
  width: 30%;
  min-width: 200px;
  max-width: 332px;
  border-radius: 25px;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);

  font-size: 18px;
  color: #2d2d2d;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* =================== */

.wrapper {
  max-width: 400px;
  margin: auto;
}
.contact-form {
  height: 450px;
  width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;

  padding: 20px;
  border-radius: 18px;

  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}
.contact-form__customers {
  display: flex;
  justify-content: space-around;
}

.contact-form__customers input[type="radio"] {
  display: none;
}
.contact-form__customers label {
  cursor: pointer;
  border: 1px #9300ff solid;
  /* border-right: none; */
  user-select: none;
  border-radius: 10px;
  padding: 6px;
}
.contact-form__customers input[type="radio"]:checked + label {
  background: #9300ff;
  color: #fff;
}
.contact-form__customers label:hover {
  color: #c97dff;
}
.contact-form__customers input[type="radio"]:disabled + label {
  background: #ffffff;
  color: #ffffff;
}
#contactFormParentButton {
}
#contactFormStudentButton {
}
#parentName {
  width: 250px;
  margin: auto;
  border-bottom: 1px #2d2d2d solid;
  line-height: 38px;
}
#parentPhoneNumber {
  width: 250px;
  margin: auto;
  border-bottom: 1px #2d2d2d solid;
  line-height: 38px;
}
#parentEmail {
  width: 250px;
  margin: auto;
  border-bottom: 1px #2d2d2d solid;
  line-height: 38px;
}
#classNumber {
  width: 250px;
  margin: auto;
}
#formButton {
  width: 180px;
  margin: auto;
  background-color: #9300ff;
  color: #ffffff;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}
.form-section {
  /* height: 500px; */
  /* background-color: #d5d5d5; */
}
.form-section__tittle {
  font-size: 32px;
  margin-top: 300px;
  margin-bottom: 40px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
.form-section__logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-logo {
  width: 550px;
}
.form-logo-description {
  font-size: 24px;
  font-weight: 600;
  color: #2d2d2d;
}
.form-section__form-and-logo {
  max-width: 65%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.form-section__bg-puzzle {
  position: absolute;
  opacity: 8%;
  z-index: -99;
  /* margin-top: 1%; */
}

.student-info-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#studentName {
  width: 250px;
  margin: auto;
  border-bottom: 1px #2d2d2d solid;
  line-height: 38px;
}
#studentPhoneNumber {
  width: 250px;
  margin: auto;
  border-bottom: 1px #2d2d2d solid;
  line-height: 38px;
}

/* =================== */
.footer {
  min-height: 270px;
  width: 100%;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  width: 80%;
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 25%;
  min-width: 200px;
  margin-top: 20px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__tag {
  align-self: center;
  margin-top: 10px;
  font-weight: 400;
  color: #808080;
}
.footer__subtittle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}
.footer__social-list {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
}
.footer__legal-list {
  font-weight: 400;
  color: #808080;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
}
.footer__legal-list-el {
  font-weight: 400;
  color: #808080;
}
.footer__contacts-number {
  font-weight: 400;
  color: #808080;
}
.footer__contacts-email {
  font-weight: 400;
  color: #808080;
}
