.footer {
  margin: auto;
  min-height: 270px;
  width: 100%;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrapper {
  width: 95%;
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 50px;

}

.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 14%;
  min-width: 160px;
  margin-top: 20px;
  text-align: center;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__tag {
  align-self: center;
  margin-top: 10px;
  font-weight: 400;
  color: #808080;
}

.footer__subtittle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
}

.tg-image:hover {
  opacity: 0.7;
}
.vk-image:hover {
  opacity: 0.7;
}
.yt-image:hover {
  opacity: 0.7;
}
.footer__legal-list {
  font-weight: 400;
  color: #808080;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.footer__legal-list-el {
  font-weight: 400;
  color: #808080;
  font-size: 16px;
  padding: 2px;
  text-align: center;
  /* margin-left: 10%; */
}

.footer__contacts-number {
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  /* align-self: self-start; */
  padding: 5px;
}

.footer__contacts-email {
  font-weight: 400;
  color: #808080;
  padding: 5px;
  /* text-align: left; */
}
.footer__contact-adress{
  font-weight: 400;
  color: #808080;
  padding: 5px;
}
.footer__partner-name{
  color: #808080;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
}
.footer__contacts-number:hover {
  opacity: 0.7;
}
.footer__contacts-email:hover {
  opacity: 0.7;
}
.footer__contact-adress:hover{
  opacity: 0.7;
}
.footer__partner-logo{
  width: 45%;
}
.footer__partner-logo-link:hover{
  opacity: 0.7;
}

@media (max-width: 1000px) {
  .footer__wrapper {
    width: 95%;
    margin: auto;
    justify-content: center;
  }
  .footer__block {
    width: 65%;
    margin-bottom: 40px;
  }
}
