.footer {
  min-height: 270px;
  width: 100%;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrapper {
  width: 95%;
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 20%;
  min-width: 200px;
  margin-top: 20px;
  text-align: center;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__tag {
  align-self: center;
  margin-top: 10px;
  font-weight: 400;
  color: #808080;
}

.footer__subtittle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
}

.footer__legal-list {
  font-weight: 400;
  color: #808080;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
}

.footer__legal-list-el {
  font-weight: 400;
  color: #808080;
}

.footer__contacts-number {
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  text-align: left;
}

.footer__contacts-email {
  font-weight: 400;
  color: #808080;
}
