.form-section__contact-form {
  margin: auto;
  min-width: 350px;
  height: 575px;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}

.contact-form__info-line {
  width: 80%;
  line-height: 35px;
  border-bottom: #2d2d2d 1px solid;
  margin-top: 10px;
}

input::placeholder {
  color: #808080;
}

input:hover {
  filter: brightness(50%);
}

.contact-form__button {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 60%;
  color: #ffffff;
  background-color: #9300ff;
  font-size: 18px;
  border-radius: 20px;
  padding: 15px;
  user-select: none;
  font-weight: 500;
}

.contact-form__button:hover {
  /* background-color: #9300ff; */
  filter: brightness(80%);
}

.contact-form__select {
  width: 80%;
  border-bottom: #2d2d2d 1px solid;
  margin-top: 30px;
  font-size: 18px;
  color: #2d2d2d;
}
.contact__form-privacy {
  max-width: 290px;
  text-align: left;
  font-size: 14px;
  color: #c7c7c7;
}
.contact__form-privacy:hover {
  text-decoration: underline;
}
.contact-form__slider {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5px;
  margin-top: 30px;
}

.contact-form__slider label {
  text-align: center;
  width: 45%;
  border: 2px #c980ff solid;
  color: #c980ff;
  padding: 8px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}

.contact-form__slider input[type="radio"] {
  display: none;
}

.contact-form__slider input[type="radio"]:checked + label {
  background: #9300ff;
  color: #ffffff;
  border: 2px #fff solid;
}

.contact-form__slider input[type="radio"]:disabled + label {
  background: #ffffff;
  color: #9300ff;
  border: 2px #c980ff solid;
}

.contact-form__slider label:hover {
  border: 2px #9300ff solid;
  color: #9300ff;
}

.form-section__tittle {
  font-size: 32px;
  margin-top: 175px;
  /* margin-bottom: 10px; */
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}

.form-section__form-and-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 45px;
}

.form-section__logo {
  width: 550px;
}

.form-section__description {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #9300ff;
  margin-top: 20px;
}

.form-section__logo-and-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 65%;
}

.form-section__bg-puzzle {
  position: absolute;
  width: 100%;
  opacity: 8%;
  z-index: -99;
  margin-top: -32%;
}

.contact-form__accept {
  width: 320px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.contact-form__accept-text {
  margin: auto;
  text-align: left;
  padding-left: 25px;
  font-size: 16px;
  /* margin-right: 35px; */
  /* width: 100%; */
  color: #808080;
  /* padding: 10px; */
}
.contact-form__accept-link {
  color: #9300ff;
  font-weight: 500;
}
.contact-form__accept-link:hover {
  text-decoration: underline;
}
#accept:hover {
  cursor: pointer;
}
#accept {
  margin-left: 20px;
  /* margin-right: 20px; */
}
/* .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #cd88ff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #9300ff;
  background-color: #9300ff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #cd88ff;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #cd88ff;
  border-color: #cd88ff;
}

.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #dcacff;
}

.custom-checkbox:disabled+label::before {
  background-color: #dcacff;
} */

/* form adaptive view start */
@media (max-width: 1300px) {
  .form-section__logo-and-description {
    display: none;
  }
}
@media (max-width: 600px) {
  .form-section__tittle {
    font-size: 24px;
    margin-top: 40px;
    /* margin-bottom: 20px; */
  }
  .form-section__form-and-logo {
    margin-top: 20px;
  }
}
/* form adaptive view end */
