.header {
  width: 65%;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 60px;
}

.header__tittle {
  font-size: 45px;
  font-weight: 800;
  line-height: 1.3em;
  text-align: center;
  animation-name: occurrence_tittle;
  animation-duration: 2s;
}

.header__subtittle {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3em;
  text-align: center;
  animation-name: occurrence_description;
  animation-duration: 2.25s;
}
/* header animation */
@keyframes occurrence_tittle {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes occurrence_description {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .header {
    margin-top: 120px;
    width: 80%;
  }
  .header__tittle {
    font-size: 35px;
  }
  .header__subtittle {
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .header {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .header__tittle {
    font-size: 28px;
  }
  .header__subtittle {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .header {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .header__tittle {
    font-size: 24px;
  }
}
