* {
  /* border: 1px solid red; */
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
}

img {
  user-select: none;
}

/* background puzzle */
body {
  background:#f4f4f4 url(../assets/bg-puzzle-texture.svg) no-repeat;
  background-size: auto;
  background-position-y: 94.2%;
}

/* purple text */
.colour-purple {
  color: #9300ff;
}

/* smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
  }
}

/* form puzzle adaptive view */
@media (max-width: 1000px) {
  body{
    background-position-y: 92.3%;
  }
}
