* {
  /* border: 1px solid red; */
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
}

/* a:hover {
  opacity: 0.7;
} */

img {
  user-select: none;
}

body {
  background-color: #f3f3f3;
}

.colour-purple {
  color: #9300ff;
}
