* {
    /* border: 1px solid red; */
    font-family: "Montserrat", sans-serif;
    color: #2d2d2d;
  
  }
  
  /* a:hover {
    opacity: 0.7;
  } */
  
  img {
    user-select: none;
  }
  
  body {
    background-color: #ededed;
    /* background:#f4f4f4 url(../assets/bg-puzzle-texture.svg) no-repeat; */
    
    /* background-size: auto;
    background-position-y: 92.6%; */
  
  }
  
  .colour-purple {
    color: #9300ff;
  }
  
  .offer{
    max-width: 1200px;
  }
  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
      scroll-padding-top: 10%;
    }
  }
  
  @media (max-width: 1000px) {
    body{
      background-position-y: 92.3%;
    }
  }
  