.subjects {
  width: 65%;
  margin: auto;
  max-width: 1000px;
  margin-top: 150px;
}

.subjects__tittle {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 44px;
  text-align: center;
}

.subjects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.subjects__el:first-child{
  border: 4px #9300ff solid;
  color: #9300ff;
  width: 310px;
  height: 85;
  cursor: pointer;
  text-decoration: none;
  filter: blur(0);
}
.subjects__el {
  /* text-decoration: line-through; */
  color: #808080;
  font-weight: 600;
  font-size: 22px;
  border-radius: 25px;
  width: 300px;
  min-height: 80px;
  background: #ffffff;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  /* cursor: pointer; */
  user-select: none;
  filter: blur(2px);
  z-index: -1;
}

/* .subjects__el:hover {
  border: 4px #9300ff solid;
  color: #9300ff;
  width: 310px;
  height: 85;
  transition: 100ms;
} */

/* subjects adaptive view start */
@media (max-width: 1500px) {
  .subjects {
    width: 100%;
  }
  /* .subjects__el {
  } */
}

@media (max-width: 1100px) {
  .subjects {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .subjects__tittle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .subjects__el {
    font-size: 18px;
  }
  .subjects {
    margin-top: 50px;
  }
}
/* subjects adaptive view end */
