.teachers {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.teacher__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.teacher__card-gac {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 60px; */
}
.teacher__name-gac {
  background-color: white;
  border-radius: 20px;
  padding: 14px;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}
.teacher__name-and-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: auto; */
  margin-bottom: 25px;
}
.teacher__logo-list-element-picture {
  /* width: 10%; */
  height: 65px;
  border-radius: 8px;
}
.teacher__logo {
  display: flex;
  min-width: 50%;
}
.teacher__logo-list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 700px;
  min-width: 50%;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
  /* min-width: 100%; */
  margin-left: 20px;
  flex-wrap: wrap;
}
.teacher__description-list-gac {
  max-width: 88%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* align-items: stretch; */
  /* align-items: start; */
  margin: auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}
.teacher__description-list-el-gac {
  list-style-type: disc;
  margin-left: 40px;
  padding: 10px;
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  margin-left: 55px;
}
.teacher__logo-list-element-link:hover {
  opacity: 0.7;
}
.teacher__description-list-el-gac::marker {
  color: #9300ff;
}
.teacher__logo-list-element {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.teacher__photo-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teacher__name {
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 8px;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}
.teacher__photo {
  width: 280px;
  border-radius: 35px;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}
.teacher__surname {
  /* margin-top: 15px; */
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #9300ff;
}
.teacher__name-and-lastname {
  margin-top: 5px;
  /* margin-bottom: 20px; */
  font-size: 18px;
  width: 250px;
  font-weight: 600;
  text-align: center;
  color: #9300ff;
  margin: auto;
}
.teacher__description {
  /* height: 500px; */
  display: flex;
  justify-content: center;
  max-width: 900px;
  /* background-color: white; */
}
.teacher__description-gac {
  display: flex;
  justify-content: center;
  max-width: 1250px;
}
.teacher__description-list {
  max-width: 85%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch; */
  /* align-items: start; */
  margin: auto;
  background-color: white;
  border-radius: 30px;

  height: 100%;
  /* font-weight: 500; */
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}
.teacher__description-list-el {
  list-style-type: disc;
  margin-left: 40px;
  padding: 10px;
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  margin-left: 55px;
}
.teacher__description-list-el:first-child {
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
  /* justify-content:center ; */
}
.teacher__description-list-el::marker {
  color: #9300ff;
}
.teachers__tittle {
  font-size: 32px;
  margin-top: 200px;
  margin-bottom: 60px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
/* #teacher__photo-yana {
  transform: scaleX(-1);
  z-index: -1;
} */
/* #teacher__card-yana {
} */

@media (max-width: 1670px) {
  .teacher__name-gac {
    margin-bottom: 20px;
    width: 80%;
  }
}
@media (max-width: 1100px) {
  .teacher__logo-list {
    margin-top: 20px;
    margin-left: 0px;
  }
  .teacher__card {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  #teacher__card-yana {
    flex-wrap: wrap-reverse;
  }
  .teacher__description {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .teacher__description-gac {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
.teacher__position {
  font-weight: 600;
  font-size: 22px;
  color: #2d2d2d;
  margin-bottom: 15px;
  /* justify-content: center; */
  /* margin: auto; */
  text-align: center;
}
.teacher__position-subject {
  font-weight: 700;
  color: #9300ff;
}
@media (max-width: 600px) {
  .teacher__description-list-el {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    /* text-align: center; */
  }

  .teacher__description-list-el-gac {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }
  .teacher__description-list-gac {
    max-width: 100%;
    margin-left: 0px;
  }
  .teacher__description-list {
    max-width: 100%;

    /* height: 95%; */
  }
  .teacher__logo-list {
    margin-left: 0px;
  }
  .teacher__logo-list-element-picture {
    height: 40px;
  }
  .teacher__name-gac {
    width: 95%;
    margin-bottom: 20px;
  }
  .teachers {
    width: 90%;
  }
  .teacher__photo {
    width: 75%;
    margin: auto;
  }
  .teachers__tittle {
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .teachers__tittle {
    margin-top: 80px;
  }
}
