.teachers{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.teacher__card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.teacher__photo-and-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teacher__name{
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 8px;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}
.teacher__photo{
  width: 280px;
  border-radius: 35px;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}
.teacher__surname{
  /* margin-top: 15px; */
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #9300ff;
}
.teacher__name-and-lastname{
  margin-top: 5px;
  /* margin-bottom: 20px; */
  font-size: 18px;
  width: 250px;
  font-weight: 600;
  text-align: center;
  color: #9300ff;
}
.teacher__description{
  /* height: 500px; */
  display: flex;
  justify-content: center;
  /* background-color: white; */
  
}
.teacher__description-list{
  max-width: 85%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch; */
  /* align-items: start; */
  margin: auto;
  background-color: white;
  border-radius: 30px;
  
  height: 100%;
  /* font-weight: 500; */
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
}
.teacher__description-list-el{
  
  list-style-type: disc;
  margin-left: 40px;
  padding: 10px;
  font-size: 18px;
  line-height: 35px;
}
.teachers__tittle {
  font-size: 32px;
  margin-top: 200px;
  margin-bottom: 40px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
/* .teachers {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers__card {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.teachers__photo {
  height: 100%;
  margin-right: 40px;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
  border-radius: 35px;
  background-color: white;
}

.teachers__description {
  max-width: 650px;
  min-height: 50vh;
  background-color: white;
  box-shadow: 0px 7px 11px -7px rgba(34, 60, 80, 0.15);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers__name {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #9300ff;
}

.teachers__name:first-child {
  margin-bottom: -15px;
}

.teachers__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  width: 90%;
}

.teachers__paragraph {
  margin-bottom: 5px;
  list-style-type: disc;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  padding: 2.5px;
}

.teachers__paragraph:last-child {
  margin: 0;
} */
