* {
  box-sizing: border-box;
  /* border: 1px solid #000; */
}
.container {
  width: 1200px;
  margin: auto;
}

#burger,
[for="burger"] {
  display: none;
}

@media screen and (max-width: 500px) {
  .container {
    width: 80%;
  }
  [for="burger"] {
    display: block;
    position: fixed;
    width: 30px;
    text-align: center;
    right: 20px;
    top: 10px;
  }
  [for="burger"]::before {
    content: "☰";
  }
  nav {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 30px;
    background: rgba(216, 243, 253, 0.692);
    width: 80%;
    user-select: none;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #burger:checked + label + nav {
    display: block;
    animation: show 0.5s ease;
  }
  #burger:checked + [for="burger"]::before {
    content: "⮾";
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
